.container {
  height: 67.5px;
  width: 266.3px;
  margin: 12px 46px 0px 46px;
  text-align: center;
  color: #FF7800;

  ion-icon {
    height: 39.51px;
    width: 39.51px;
    
  }

  h2 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
}