* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica Neue, sans-serif;
}

body {
  background: #EEE;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
}