.button {
  height: 60px;
  width: 341px;
  background: #FF6C00;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 2px 2px #d45a00;
  font-size: 20px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
}